/* Base styles */
.box {
    position: relative;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 40s linear infinite;
    will-change: transform; /* Optimization for smoother animation */
}

.box:hover {
    animation-play-state: paused;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 36deg)) translateZ(600px); /* Increased spacing */
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(4, 4, 4, 0.267));
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 15px;
    border: 4px double rgb(0, 0, 0);
}

img:hover {
    transform: translateY(-2px);
}

/* Media queries for responsive design */
@media (max-width: 600px) {
    .box {
        width: 200px;
        height: 150px;
    }

    .box span {
        transform: rotateY(calc(var(--i) * 36deg)) translateZ(400px); /* Adjusted spacing */
    }
    
    .box span img {
        border-radius: 10px;
        border: 3px double rgb(0, 0, 0);
    }
}

@media (max-width: 400px) {
    .box {
        width: 150px;
        height: 100px;
    }

    .box span {
        transform: rotateY(calc(var(--i) * 36deg)) translateZ(250px); /* Adjusted spacing */
    }

    .box span img {
        border-radius: 5px;
        border: 2px double rgb(0, 0, 0);
    }
}