<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>

    <div class="box">

        <span style="--i:1"><img src="static/8.JPG"></span>
        <span style="--i:2"><img src="static/4.JPG"></span>
        <span style="--i:3"><img src="static/3.JPG"></span>
        <span style="--i:4"><img src="static/5.JPG"></span>
        <span style="--i:5"><img src="static/11.JPG"></span>
        <span style="--i:6"><img src="static/2.JPG"></span>
        <span style="--i:7"><img src="static/10.JPG"></span>
        <span style="--i:8"><img src="static/1.JPG"></span>
        <span style="--i:9"><img src="static/9.JPG"></span>
        <span style="--i:10"><img src="static/7.JPG"></span>


    


    </div>

    
</body>
</html>